{% extends 'base.html.twig' %}


{% block stylesheets %}
 `<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
{% endblock %}


{% block body %}

    <h1>Listado de producto</h1>

    
    <ul>
        {% for producto in productos %}
        	<li>{{ producto.nombre }} - {{ producto.precio }} - {{ producto.categoria.nombre}} {#{{ dump(producto.categoria)}}#} </li>
    	{% endfor %}
    </ul>

{#{{ dump(productos)}}#}



	<a href="{{ path('producto_nuevo') }}">Añadir producto</a>
	
	<a class="btn btn-danger" href="{{ path('categoria_lista') }}">Lista de categoria</a>
	
{% endblock %}

{% block javascripts %}
 <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
