{% extends 'base.html.twig' %}



{% block body %}

    <h1>Listado de libro</h1>


    <ul>
        {% for libro in libros %}
        	<li>{{ libro.titulo }} - {{ libro.edicion }} - {{ libro.numpaginas }} - {{libro.autor.nombre}}</li>
		{% endfor %}
     </ul>
  <a href="{{ path('libro_nuevo') }}">Añadir libro</a>
  <a href="{{ path('autor_lista') }}">Añadir autor</a>
	

{% endblock %}
